.img {
    min-height: 1000px;
    background-image: url('bg1.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.message {
    top: 100px;
    width: 100%;
    height: 100px;
    background-color: black;
    color: azure;
    text-align: center;
}

.img2 {
    object-fit: cover;
    width: 100%;
}